@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/font/grow.woff2") format("woff2"),
       url("/font/grow.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/grow.woff2") format("woff2"),
       url("/font/grow.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c1141d; 
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Example custom styles */
body {
  @apply bg-[#c1141d] text-black font-[Poppins];
}

.animate-spin-slow {
  @apply animate-spin;
}

/* Background Gradient Animation Keyframes */
@keyframes first {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes second {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes third {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fourth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes fifth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-first {
  animation: first 20s linear infinite;
}

.animate-second {
  animation: second 40s linear infinite;
}

.animate-third {
  animation: third 40s linear infinite;
}

.animate-fourth {
  animation: fourth 20s linear infinite;
}

.animate-fifth {
  animation: fifth 20s linear infinite;
}
